<div class="buttons-wrapper">
  <a href="/" class="logo">Wastebin</a>
  <div class="buttons">
    <a href="/news/" class="btn">New</a>
    <button class="btn" type="submit">Save</button>
  </div>
</div>
